// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#choose-players{
	height:100vh;
}

.dominoes{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;

	.domino{
		border:1px solid black;
		border-radius: 0.25rem;
		padding:10px;
		margin-right:15px;
		margin-bottom:15px;
		display:flex;
		align-items: center;
		background-color: #feffd7;
		color:#feffd7;
		cursor: pointer;
		font-size:20px;

		.dots{
			padding: 0 10px;

			&:first-of-type{
				border-right:1px solid black
			}
		}

		&:hover{
			background-color: black;
			color:black;
			.dots{
				border-color:white;
			}
		}
	}

}

#graveyard{
	padding:15px 15px 0;
	user-select: none;

	h2{
		text-align:center;
		font-size:1.25rem;
	}
}

#playfield{
	min-height:45vh;
	user-select: none;
	display:flex;
	justify-content: center;
	align-items: center;

	.dominoes{
		.domino{
			background-color:black;
			color:white;
			.dots{
				border-color:white;
			}
		}
	}

}

#player-dashboard{
	user-select: none;

	.players{
		display:flex;
		justify-content: center;
		margin-bottom:30px;

		.player{
			border:1px solid black;
			padding:15px;
			border-radius: 0.25rem;
			margin:0 15px;
			position:relative;
			background-color:white;

			.winner-notice{
				position:absolute;
				top:0;
				left:50%;
				background-color:gold;
				color:goldenrod;
				border: 1px solid goldenrod;
				z-index:-1;
				text-align: center;
				padding: 10px 15px;
				border-radius: 0.25rem;
				transform: translateX(-50%);

				h3{
					margin:0;
				}
			}

			h2{
				font-size:1.25rem; 
			}

			.dominoes{
				justify-content: flex-start;

				a{
					text-decoration:none;
				}	
			}

			&.active{	
				background-color: rgb(189, 255, 189);

				.dominoes{
					a{
						color:black;
						text-decoration:none;

						&:hover{
							background-color: black;
							color:white;
							.dots{
								border-color:white;
							}
						}

					}	
				}
			}

			&.winner{
				.winner-notice{
					top:-50px;
				}
			}

		}
	}
}

#restart{
	display:flex;
	justify-content: center;
	align-items: center;
}